.__logo {
    position: relative;
    width: 220px;
    height: 32px;
    user-select: none;
    &-image {
        user-select: none;
    }
    font-family: Inter;
    font-size: 15px;
    font-weight: 500;
    line-height: 21.75px;
    text-align: left;
}    