.enter-button {
    width: 50;
    height: 50;
    background-color: #FFFFFF;
    &:active{
        opacity:60%;
    }
}
.enter-text {
    width: 25px;
    height: 14px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    left:12px;
}